@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Salute! The admin has returned!</h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>add</b>,
        <b>delete</b> cars.
        <br />You can <b>rent</b> them too!
    </p>
   
    <hr class="my-4">
    <a asp-area="" asp-controller="Home" asp-action="Index"
       class="btn btn-primary btn-lg">All Cars</a>
    <a asp-area="" asp-controller="Car" asp-action="Add"
       class="btn btn-primary btn-lg">Add Car</a>
    @*<a asp-area="Admin" asp-controller="Car" asp-action="Mine"
       class="btn btn-primary btn-lg">My Houses</a>
    <span>  |   </span>*@
    @*<a asp-area="Admin" asp-controller="Rents" asp-action="All"
       class="btn btn-primary btn-lg">All Rents</a>
    <a asp-area="Admin" asp-controller="Users" asp-action="All"
       class="btn btn-primary btn-lg">All Users</a>*@
</div>
